.hidden {
  scale: 0;
}

.startDiv {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  justify-content: center;
}

form {
  display: grid;
  grid-template-columns: 5fr 8fr 8fr;
  gap: 1rem;
  border: 2px solid black;
  width: 20rem;
  padding: 0.5rem 1rem;
}

form > .title {
  grid-column: 2 / -1;
  justify-self: start;
}

label {
  justify-self: self-end;
  grid-column: 1 / 2;
}

input {
  grid-column : 2 / -1;
}

form > button {
  justify-self: end;
  grid-column: 2 / 3;
}

.gamePage {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1vw;
  justify-items: center;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid black;
}

.gameGrid > div {
  display: grid;
  justify-items: center;
  align-items: center;
}

.player1, .player2 {
  display: grid;
  justify-items: center;
}

.player1 > .pl1title, .player2 > .pl2title {
  align-self: last baseline;
}

.player1 > .score, .player2 > .score {
  align-self: first baseline;
}